<!DOCTYPE html>
<html>
<head>
	<title>New User</title>
</head>
<body>

	<form method="POST" action="/users" accept-charset="UTF-8">
		<p>
			<label for="username">Username: </label>
			<input id="username" type="text" name="user[username]" placeholder="username">
		</p>
		<p>
			<label for="email">Email: </label>
			<input id="email" type="text" name="user[email]" placeholder="email">	
		</p>
		<p>
			<label for="password">Password: </label>
			<input id="password" type="password" name="user[password]" placeholder="password">	
		</p>
		<p>
			<input type="submit" value="Create User">
		</p>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	</form>

</body>
</html>